@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Pacifico&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		font-family: 'Kanit', sans-serif;
	}
	main {
		overflow: hidden;
	}
}

.bg-base-300 {
	background-image: url('lib/assets/images/Texture.webp'), linear-gradient(180deg, #fde7dc, #fde7dc);
}

.bg-base-300-gradient-b {
	background-image: url('lib/assets/images/Mask.png'), linear-gradient(180deg, #fde7dc, transparent);
}
.bg-base-300-gradient-t {
	background-image: url('lib/assets/images/Mask.png'), linear-gradient(180deg, #fde7dc, transparent);
	transform: rotate(180deg);
}

.bg-base-200 {
	background-image: url('lib/assets/images/Texture.webp'), linear-gradient(180deg, #fbf3e6, #fbf3e6);
}
.bg-base-100 {
	background-image: url('lib/assets/images/Texture.webp'), linear-gradient(180deg, #fffbf5, #fffbf5);
}

.enter {
	@apply transition duration-1000 ease-out opacity-100 translate-x-0 translate-y-0;
}

.button_parent {
	/* Variables */
	--button_radius: 0.75em;
	--button_color: #fde7dc;
	--button_outline_color: #000000;
	text-transform: uppercase;
	font-size: 17px;
	font-weight: bold;
	border: none;
	border-radius: var(--button_radius);
	background: var(--button_outline_color);
}

.button_top_300 {
	display: block;
	box-sizing: border-box;
	border: 2px solid var(--button_outline_color);
	border-radius: var(--button_radius);
	padding: 0.75em 1.5em;
	background-image: url('lib/assets/images/Texture.webp'), linear-gradient(180deg, #fde7dc, #fde7dc);
	color: var(--button_outline_color);
	transform: translateY(-0.2em);
	transition: transform 0.1s ease;
}

.button_parent:hover .button_top_200  {
	/* Pull the button upwards when hovered */
	transform: translateY(-0.33em);
}

.button_parent:active .button_top_200  {
	/* Push the button downwards when pressed */
	transform: translateY(0);
}

.button_top_200 {
	display: block;
	box-sizing: border-box;
	border: 2px solid var(--button_outline_color);
	border-radius: var(--button_radius);
	padding: 0.75em 1.5em;
	background-image: url('lib/assets/images/Texture.webp'), linear-gradient(180deg, #fbf3e6, #fbf3e6);
	color: var(--button_outline_color);
	transform: translateY(-0.2em);
	transition: transform 0.1s ease;
}

.button_parent:hover .button_top_300 {
	/* Pull the button upwards when hovered */
	transform: translateY(-0.33em);
}

.button_parent:active .button_top_300 {
	/* Push the button downwards when pressed */
	transform: translateY(0);
}
